body {
  /* Criando um degrade de cores que se alternam */
  background: linear-gradient(
    45deg,
    blue,
    purple,
    red,
    blue,
    purple,
    red,
    blue,
    purple,
    red
  );
  background-size: 100% 600%; /* Ajuste para permitir o movimento contínuo */
  animation: moverGradiente 15s linear infinite; /* Animação para mover o gradiente */
  height: 100vh; /* Para preencher toda a página */
  margin: 0;
  font-family: "Arial", sans-serif; /* Fonte mais moderna */
}

/* Definindo uma animação CSS que altera as cores de fundo de acordo com o tempo */
@keyframes moverGradiente {
  0% {
    background-position: 0% 0%; /* Início da animação */
  }
  100% {
    background-position: 0% 100%; /* Fim da animação */
  }
}

#imagem {
  height: 250px; /*Definindo o tamanho da imagem */
  width: 13%;
  border-radius: 50%; /* Definindo uma borda para a imagem */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Adicionando uma sombra mais suave */
  object-fit: cover;
}

.fotoenome {
  display: flex;
  align-items: center;
  gap: 20px; /* Espaçamento entre a imagem e o texto */
}

/* Movendo um pouco esse parágrafo porque estava dentro da sombra da imagem */
.container-head p {
  padding: padding 10%;
  color: white;
  font-size: 17pt;
}

h1 {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5); /* Sombra mais suave */
  color: white;
  text-align: center; /* Centralizando o título */
  padding: 2%; /* Adicionando um pouco de padding */
  margin: 20px 0; /* Espaçamento acima e abaixo do título */
}

h2 {
  color: white;
  text-align: left;
  margin: 10px 0; /* Espaçamento acima e abaixo do subtítulo */
}

p {
  /* Definindo que todo parágrafo vai ter fonte branca */
  color: white;
  font-size: 15pt;
  text-align: justify;
  line-height: 1.6; /* Melhorando a legibilidade */
}

hr {
  border: none; /* Remove a borda padrão */
  height: 3px; /* Ajustando a espessura */
  background-color: white; /* Cor da linha */
  margin-top: 90px; /* Espaço acima da linha */
}
/* Estilos para as seções */
section {
  margin-bottom: 2rem; /* Espaçamento entre as seções */
  border-radius: 10px; /* Bordas arredondadas */
  padding: 2rem; /* Espaçamento interno das seções */
  border-bottom: 10px solid rgba(0, 0, 0, 0.3); /* Linha divisória/sombra fake na parte inferior da seção */
  background-color: rgba(0, 0, 0, 0.3); /* Fundo semi-transparente */
  .navegacao {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Usando Flexbox para alinhar os itens */
    justify-content: center; /* Centralizando os itens */
    background-color: #333; /* Cor de fundo da barra de navegação */
  }

  .navegacao {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Usando Flexbox para alinhar os itens */
    justify-content: center; /* Centralizando os itens */
    background-color: rgba(0, 0, 0, 0); /* Fundo transparente */
  }

  .navegacao li {
    margin: 0 2%; /* Espaçamento entre os itens */
  }

  .navegacao li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s; /* Transição suave para o hover */
  }

  .navegacao li a:hover {
    background-color: rgba(
      0,
      0,
      0,
      0.5
    ); /* Fundo levemente escurecido ao passar o mouse */
  }
}

@media (max-width: 600px) {
  /*if tela <= 400*/

  .container-head p {
    font-size: 11pt;
  }

  #imagem {
    height: 90px;
    width: 30%;
    margin-left: -3%;
  }

  p {
    font-size: 11pt;
  }

  .navegacao li {
    font-size: 8pt;
    padding: auto;
  }
}
