* {
  margin: 0; /* Define a margem em zero, garantindo que não haverá espaços inesperados*/
  padding: 0; /* Define o padding (espaço interno dos elementos) em zero*/
  box-sizing: border-box; /*Define o modelo de caixa para que width e height incluam o padding e
     a borda, facilitando o controle do layout.*/
}
body {
  background: linear-gradient(blue, cyan, purple);
  height: 100vh; /* Para preencher toda a página */
  margin: 0;
}
h1 {
  display: flex;
  justify-content: center;
  padding: 2vw;
}
