* {
  margin: 0; /* Define a margem em zero, garantindo que não haverá espaços inesperados*/
  padding: 0; /* Define o padding (espaço interno dos elementos) em zero*/
  box-sizing: border-box; /*Define o modelo de caixa para que width e height incluam o padding e
   a borda, facilitando o controle do layout.*/
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}
main {
  padding: 2rem;

  #imagem {
    height: 250px; /*Definindo o tamanho da imagem */
    width: 20%;
    border-radius: 50%; /* Definindo uma borda para a imagem */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Adicionando uma sombra mais suave */
    object-fit: cover;
  }
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  section {
    margin-bottom: 1rem; /* Espaçamento entre as seções */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 2rem; /* Espaçamento interno das seções */
    border-bottom: 10px solid rgba(0, 0, 0, 0.3); /* Linha divisória/sombra fake na parte inferior da seção */
    background-color: rgba(0, 0, 0, 0.3); /* Fundo semi-transparente */
    .navegacao {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex; /* Usando Flexbox para alinhar os itens */
      justify-content: center; /* Centralizando os itens */
      background-color: #333; /* Cor de fundo da barra de navegação */
    }
  }
  .container-footer li {
    list-style-type: none;
  }

  #foto {
    max-width: 70vw;
    border-radius: 50px;
    display: block;
    margin: 0 auto;
    padding-bottom: 1rem;
  }

  .navegacao {
    list-style-type: none;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s; /* Transição suave para o hover */
    border-radius: 20px;
  }
  @media (min-width: 600px) {
    #foto {
      width: 250px;
    }

    .navegacao {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex; /* Usando Flexbox para alinhar os itens */
      justify-content: center; /* Centralizando os itens */
      background-color: rgba(0, 0, 0, 0); /* Fundo transparente */
    }

    .navegacao li {
      margin: 0 2%; /* Espaçamento entre os itens */
    }

    .navegacao li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 20px;
      text-decoration: none;
      transition: background-color 0.3s; /* Transição suave para o hover */
    }

    .navegacao li a:hover {
      background-color: rgba(
        0,
        0,
        0,
        0.5
      ); /* Fundo levemente escurecido ao passar o mouse */
    }
  }

  @media (max-width: 600px) {
    /*if tela <= 400*/

    .container-head p {
      font-size: 11pt;
    }

    #imagem {
      height: 90px;
      width: 30%;
      margin-left: -3%;
    }

    p {
      font-size: 11pt;
    }

    .navegacao li {
      font-size: 8pt;
      padding: auto;
    }
  }
}
